.browsehappy {
    box-sizing: border-box;
    background: Pink;
    color: DarkRed;
    border-width: 0 20px;
    border-color: c(white);
    border-style: solid;
    margin: 0;
    padding: 7px 10px;
    width: 100%;
}