.button,
input[type="submit"],
button[type="submit"] {
    background-color: c(white);
    border: 1px solid #888;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    text-shadow: #fff 1px 1px;
}

.button-large {
    border-radius: 3px;
    margin: 20px 0 20px 0 !important;
    padding: 9px 20px;
}

.button:hover {
    background-color: c(gray, 1)-lightest;
    border: 1px solid #555;
}
