//--------------------------------------//
// General form styles
//--------------------------------------//
input,
textarea,
select {
    margin: 0;
    outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="phone"],
textarea {
    -webkit-appearance: none;
    -webkit-focus-ring-color: none;
}

input[type="button"],
input[type="radio"],
input[type="checkbox"],
label,
button,
select:hover {
    cursor: pointer;
}

input,
textarea {
    @include input-placeholder {
        color: c(black);
    }
}
