time {
    @include font-size(12px);
    color: c(gray, 1);
    font-family: f(font-monospace);
    line-height: 1;
}

.note {
    background: c(yellow, 1);
    border-radius: 3px;
    font-family: f(sans-serif);
    margin: 0 0 10px;
    padding: 10px;
}
